* {
    /*border: 1px solid rgb(66, 64, 64);*/
}

body {
    font-family: monospace;
    background-color: #f0f9ff;
    margin: 0;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
}

.sidebar {
    grid-column: 1;
    grid-row: 1 / 6;
    background-color: #0369a1;
    color: #f0f9ff;
    padding: 10px 10px 200px 30px;
    margin-bottom: 0;
}

.header {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-column: 2 / 6;
    grid-row: 1;
    background-color: #bae6fd;
    padding: 10px 10px 10px 10px;
}

.content {
    height: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column: 2 / 6;
    grid-row: 2 / 6;
    background-color: #f0f9ff;
}

.sidebar-top {
    margin-bottom: 50px;
}

.sidebar-menu {
    padding: 0px 0px 0px 0px;
    font-size: 16px;
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 0.5rem;
}

.header-top {
    display: grid;
    grid-template-columns: 3fr 2fr;
    align-items: center;
}

.header-btm {
    display: grid;
    grid-template-columns: 3fr 2fr;
}

.content-left {
    height:100%;
    padding: 0px 10px 0px 10px;
}

.content-right {
    height: 100%;
    padding: 0px 10px 0px 10px;
}

.top {
    height: 49%;
}

.btm {
    height: 49%;
}

.project-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    height: 90%;
}

.project {
    border: 1px solid #0369a1;
}

.top-menu {
    height: 80%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

.btm-menu {
    height: 80%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.favacon {
    margin: 0;
    height: 30px;
}

.image {
    height: 40px;
}

.search-bar {
    display: flex;
    align-items: center;
    gap: 5px;
}

input[type="search"] {
    width: 80%; /* Take available space */
    height: 25px;
    padding: 8px 10px; /* Padding for aesthetic spacing */
    border: 1px solid #ccc; /* Add a border to the input */
    border-radius: 4px; /* Optional: rounded corners */
}

.notification {
    padding: 0px 0px 0px 20px;
    display: flex;
    align-items: center;
    gap: 10px
}

.hello-sec {
    display: flex;
    align-items: center;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px
}

button {
    background-color: #0369a1;
    color: #f0f9ff;
    border:none;
    padding: 6px 10px 6px 10px;
    border-radius: 5px;
    width: 80px;
}




